@use '../../common/scss/variables' as *;
@use 'sass:color';

.col {
  flex-basis: fit-content;
}

.row {
  &:not(:last-of-type) {
    margin-top: 0.5rem;
    margin-bottom: 1.0rem;
  }
  &:last-of-type {
    margin-top: 1.0rem;
    margin-bottom: 0.5rem;
  }
  display: flex;
  justify-content: center;
  gap: 1.0rem;
}
