@use '../../common/scss/fonts' as *;

.sidebar {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;

  .title {
    @include app-font-title;
    text-transform: uppercase;
    font-size: 1.5rem;
    &Left {
      @extend .title;
      padding-left: 0.75rem;
    }
    &Right {
      @extend .title;
      padding-right: 0.75rem;
      text-align: right;
    }
  }

  .contentLeft {
    padding-left: 0.75rem;
  }
  .contentRight {
    padding-right: 0.75rem;
  }
}
